<% include modulos/head%>
<% include modulos/navegacionSync%>
<style>
body{
    background: rgb(200, 243, 223);
}</style>
    <div class="container-fluid ">
        <div class="row mt-4" style="">
            <div class="col-md-12 float-left">
              <div class="row">
                  <div class="col-md-2 col-sm-2  col-3">
                    <img src="img/perfil.jpg" class="img-responsive rounded-circle w-100 img-circle" alt="" style="border:3px white solid;">
                  </div>
                   <div class="col-md-7 ">
                       <div class="row">
                           <div class="col-md-12">
                                <div class="card teal lighten-3">
                                        <div class="card-body  table-responsive ">
                                            <div class="card-title text-center duro   "><h3>Estadisticas</h3></div>
                                            <div class="input-group">
                                                    <h2 class="form-control duro col-sm  red lighten-4 border border-warning">PREGUNTAS: 244 </h2>
                                                    <h2 class="form-control duro col-sm red lighten-4  border border-warning">RESPONDIDAS: 242</h2>
                                                    <h2 class="form-control duro col-sm red lighten-4  border border-warning">RECHAZADAS: 2</h2>
                                                    <h2 class="form-control duro col-sm red lighten-4  border border-warning">PUNTAJE:500</h2>
                                            </div>
                                            <div class="input-group mt-1">
                                                    <h2 class="form-control duro col-sm green lighten-4  border border-warning">POSTS: 244 </h2>
                                                    <h2 class="form-control duro col-sm green lighten-4 border border-warning">RE-POST: 242</h2>
                                                    <h2 class="form-control duro col-sm green lighten-4 border border-warning ">FAVORITOS: 2</h2>
                                            </div>
                                            <div class="input-group mt-1">
                                                    <h2 class="form-control duro col-sm blue lighten-4 border border-warning">SEGUIDAS: 485</h2>
                                                    <h2 class="form-control duro col-sm blue lighten-4 border border-warning">SEGUIDORES: 242</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid teal lighten-3 mt-2 p-1">
                                    <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <label for="" class="text-muted">Julián re-posteó</label>
                                                </div>
                                                <div class="col-md-9">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="col-md-8">
                                                                    <div class="col-md-3">
                                                                            <img src="img/perfil2.jpg" class="w-75 rounded-circle" alt="">   
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                  </div>
                  <div class="col-md-3  col-sm-12  col-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="card-title duro text-center"><h4>RECOMENDADOS</h4></div>
                                <div class="card  border-0">
                                    <div class="card-body">
                                    <div class="row mt-1">
                                            <!-- PRIMER PERFIL RECOMENDADO -->
                                            <div class="col-md-4 col-sm-2 col-3">
                                                    <img src="img/perfil.jpg" alt="" class="img-responsive rounded-circle  h-75  w-100">
                                            </div>
                                            <div class="col-md-8 col-sm-8  col-8">
                                                <h6>Julian Esteban</h6>
                                                <label for="" class="text-muted">@Julianyoqc</label>
                                            </div>
                                    </div>
                                    <hr>
                                            <!-- SEGUNDO PERFIL RECOMENDADO -->
                                    <div class="row mt-1">
                                            <div class="col-md-4 col-sm-2 col-3">
                                                    <img src="img/perfil2.jpg" alt="" class="img-responsive rounded-circle  h-75  w-100">
                                            </div>
                                            <div class="col-md-8 col-sm-8  col-8">
                                                    <h6>Camila Franker</h6>
                                                <label for="" class="text-muted">@CamiiFranker</label>
                                            </div>
                                       </div>
                                       <hr>
                                       <!-- TERCER PERFIL RECOMENDADO -->
                               <div class="row mt-1">
                                       <div class="col-md-4 col-sm-2 col-3">
                                               <img src="img/perfil3.jpg" alt="" class="img-responsive rounded-circle h-75 w-100">
                                       </div>
                                       <div class="col-md-8 col-sm-8  col-8">
                                               <h6>Carlos Cuerno</h6>
                                           <label for="" class="text-muted">@Carlitos124</label>
                                       </div>
                                  </div>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid teal lighten-4">
        
    </div>
<% include modulos/footer%>