<% include modulos/head%>
<% include modulos/navegacionSync%>
<style>
body{
    background: rgb(200, 243, 223);
}
</style>

<div id="Perfiles">

</div>
<script src="/vue/Perfiles.js"></script>
<% include modulos/footer%>