<% include modulos/head%>
<% include modulos/navegacionSync%>
<style>
body{
    background: rgb(200, 243, 223);
}
</style>

<div id="MiPerfil">
    
</div>

<script src="/vue/MiPerfil.js"></script>

<% include modulos/footer%>
