<% include modulos/head %>
<% include modulos/navegacionNOSync %>
<style>
body
{
    background:rgb(192, 231, 243);
}
</style>
<div id="registro">

</div>
<script src="/vue/vueConvertido.js"> </script>
<% include modulos/footer %>