<% include modulos/head %>
<% include modulos/navegacionNOSync %>
<style>
body
{
    background:rgb(192, 231, 243);
}
</style>
<div id="registro">

</div>
<<<<<<< HEAD
<script src="/vue/Registro.js"> </script>
=======
<script src="/vue/vueConvertido.js"> </script>
>>>>>>> 4028c9f66e76aaae23693a992219fb5cc9ec5885
<% include modulos/footer %>