<nav class="navbar navbar-expand-lg teal">
    <a class="navbar-brand mr-4 text-white marca" href="#">Fetch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active pl-2">
          <a class="nav-link  white-text text-darken-3" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  pl-2">
            <a class="nav-link white-text text-darken-3  d-none" href="/login">Iniciar sesion</a>
          </li>
          <li class="nav-item  pl-2">
          <a class="nav-link white-text text-darken-3  " href="/ingreso">Ingresar</a>
        </li>
          <li class="nav-item  pl-2">
          <a class="nav-link white-text text-darken-3 d-none" href="/registrarse">Registrarse</a>
        </li>

          
      </ul>
    </div>
  </nav>