<nav class="navbar navbar-expand-lg teal  col-sm-12">
    <a class="navbar-brand mr-4 white-text text-darken-3 marca" href="/">Fetch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-sm-12" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active pl-2">
          <a class="nav-link  white-text text-darken-3" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  pl-2">
            <a class="nav-link white-text text-darken-3" href="/perfil">Mi perfil</a>
          </li>
        <li class="nav-item  pl-2">
            <a class="nav-link white-text text-darken-3" href="/preguntas">Preguntas</a>
          </li>
        <li class="nav-item  pl-2">
            <a class="nav-link  white-text text-darken-3" href="/respuestas">Respuestas</a>
          </li>
        <li class="nav-item pl-2">
        <a class="nav-link  white-text text-darken-3" href="/salir">Salir</a>
      </li>
      </ul>
      <div class="m-auto float-right d-none d-md-block">
          <div class="input-group text-right">
              <input type="text" class="form-control" placeholder="Buscar usuario" aria-label="..." aria-describedby="basic-addon2">
              <div class="input-group-append">
             <button class="input-group-text" id="basic-addon2"><i class="material-icons green-text">search</i></button>
              </div>
            </div>
      </div>
    </div>
  </nav>