<div class="container-fluid p-0  teal lighten-3">
<div class="card">
    <div class="card-body">
            <form action="/post" method="post" class="form-group">
                <div class="p-0">
                <textarea name="post" class="form-control" id="" style="resize: none; overflow: hidden; " cols="6" rows="3" placeholder="Cuéntanos algo..." maxlength="200"></textarea>
                </div>   
                <button class="btn float-right teal duro text-white mt-1">POSTEAR</button>
            </form> 
    </div>

</div>
</div>